// module HEADER


.header-mobile-nav {
	background: @menu-base;
	color: white;
	font-family: 'Roboto', sans-serif;

	.nav-label {
		font-size: 22px;
		padding: 10px 0;
	    padding-left: 15px;
	}

	.nav-arrow {
		padding: 18px 10px;

		img {
			width: 15px;
		}
	}

	.nav-search {
		    margin-top: 14px;
    /* display: none; */
	    text-align: right;
	    padding-right: 11px;

		img {
			width: 18px;
		}
	}
}


// module APPLICATION
.applications-menu {

	.app-el {
		height: 60px;
		margin: 8px 0;

		.app-icon {
			padding: 15px 0px 0px 8px;

			img {
				width: 41px;
			}
		}

		.app-label {
			font-size: 21px;
			padding-top: 20px;
			padding-right: 0;
			padding-left: 0;

			.row {
				margin: 0;
				height: 60px;
				border-bottom: 1px solid @bg-base;

				.col-xs-10 {
					padding-right: 0;
				}

				.col-xs-2 {
					text-align: center;

					img {
						width: 8px;
						margin-top: 12px;
					}
				}
			}
		}
	}
}

// module GESTURES
.view.gestures-menu {

	.col-xs-6 {
		padding: 0 8px;

		&:nth-child(even) {
			padding-left: 4px;
		}
		&:nth-child(odd) {
			padding-right: 4px;
		}
	}

	.gesture-el {
		margin:  8px 0;
		margin-bottom: 0px;
		webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
	    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
		box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);

		.icon {
			background-color: @gesture-bg-base; 
			text-align: center;
			padding: 30px 0;

			img {
				width: 60px;
			}
		}

		.title {
		    font-size: 15px;
    		padding: 7px 15px;
		}

		.Tap {
		.icon {
			background-color: @gesture-bg-orange; 
		}
		}
	}
} 


// module ACTIONS
.view.action-menu {

	.action-item {

		.action-el {

			.action-element {
			    font-size: 18px;
    			text-transform: capitalize;
			    padding: 20px 0;
			    border-bottom: 1px solid @bg-base;
			}
		}
	}
}