.view {
  display: none;
}
.view.applications-menu.application {
  display: block;
}
.view.gestures-menu.gesture {
  display: block;
}
.view.action-menu.action {
  display: block;
}
.view.saved-gestures-menu.saved-gesture {
  display: block;
}
.visible {
  display: block;
}
.disabled {
  pointer-events: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header-mobile-nav {
    background: #9b59b6;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .header-mobile-nav .nav-label {
    font-size: 65px;
    padding: 40px 0;
    padding-left: 25px;
  }
  .header-mobile-nav .nav-arrow {
    padding: 55px 30px;
  }
  .header-mobile-nav .nav-arrow img {
    width: 55px;
  }
  .header-mobile-nav .nav-search {
    margin-top: 20px;
    display: none;
  }
  .header-mobile-nav .nav-search img {
    width: 18px;
  }
  .applications-menu .app-el {
    height: 120px;
    margin: 8px 0;
  }
  .applications-menu .app-el .app-icon {
    width: 30px;
    height: 30px;
    padding: 50px 30px 30px 30px;
  }
  .applications-menu .app-el .app-icon img {
    width: 80px;
  }
  .applications-menu .app-el .app-label {
    font-size: 50px;
    padding-top: 52px;
    padding-right: 0;
  }
  .applications-menu .app-el .app-label .row {
    margin: 0;
    height: 120px;
    border-bottom: 4px solid #ececec;
  }
  .applications-menu .app-el .app-label .row .col-xs-2 {
    text-align: center;
  }
  .applications-menu .app-el .app-label .row .col-xs-2 img {
    width: 20px;
    margin-top: 30px;
  }
}
