<div ng-controller="actionCtrl" class="view action-menu {{panelVisibility}}">
  <div class="row action-item" ng-repeat="act in actions" ng-click="selectAction($event)">
    <div class="action-el" data-actionId="{{act.name}}">
      <div class="col-xs-12">
      <div class="action-element">
        {{act.name}}
        </div>
      </div>
    </div>
  </div>
</div>