<div ng-controller="applicationCtrl" class="view applications-menu {{panelVisibility}}">
<div class="row"  ng-repeat="app in applications" ng-click="selectApplication($event)">
  <div class="app-el" data-applicationId="{{app.name}}">
    <div class="col-xs-2">
      <div class="app-icon">
        <img src="{{app.icon}}" />
      </div>
    </div>
    <div class="col-xs-10 app-label">
    <div class="row">
      <div class="col-xs-10">
          {{app.title}}
      </div>
      <div class="col-xs-2">
        <img src="/images/chevron_right.png" />
      </div>
    </div>
    </div>
  </div>
</div>
</div>

