<div ng-controller="applicationCtrl" class="view applications-menu {{panelVisibility}}">
<div class="row"  ng-repeat="app in applications" ng-click="selectApplication($event)"  style="background: orange;">
  <div class="app-el" data-applicationId="{{app.name}}">
    <div class="col-xs-2">
      {{app.icon}}
    </div>
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          <b>{{app.title}}</b>
        </div>
        <div class="col-xs-12">
          {{app.subtitle}}
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      {{app.arrow}}
    </div>
  </div>
</div>
</div>
