<div ng-controller="gestureCtrl" class="view gestures-menu {{panelVisibility}}">
  <div class="row" ng-repeat="gesture in gestures" ng-click="selectGesture($event)"  style="background: green;">
    <div class="gesture-el" data-gestureId="{{gesture.name}}">
      <div class="col-xs-6">
        <div class="icon">
          {{gesture.icon}}
        </div>
        <div class="title">
          {{gesture.title}}
        </div>
      </div>
    </div>
  </div>
</div>
