<div class="row clearfix">
	<div class="col-md-6 column">
		<div class="jumbotron">
		<h2 class="text-primary">
				Ennova MagicBox Server
		</h2>
		<p>
			This is the management server for the innovative remote assistance system of Ennova. Click on the buttons to begin the experience, or watch the tutorial.			
			<p>
				<a class="btn btn-primary btn-large" href="#">Getting started</a>
			</p>
		</p>
	</div>
	</div>
	<div class="col-md-6 column">
		<img src="images/smart.jpg"/>
	</div>
</div>
<div class="row clearfix">	
	<div class="col-md-4 column">
		<h2>
			User List
		</h2>
		<p>
			Here you can manage the users of the service, which own our wonderful MagicBox board. The users are worldwide identified by an unique device id, that give the possibility to perform some outstanding operations, like prevent WIFI issues on their domestic LAN, correct them with ZERO-USER interaction, and many more...
		</p>
		<p>
			<a ui-sref="user_list" ng-click="changeTab('user')">Jump to it »</a>
		</p>
	</div>
	<div class="col-md-4 column">
		<h2>
			Ticket List
		</h2>
		<p>
			Here you can manage all the tickets explicitly opened by the user, by pressing the panic button, or implicitly issued by the MagicBox board by itself. You have the possibility to help the user to enjoy all the features of our device.
		</p>
		<p>
			<a ui-sref="ticket_list" ng-click="changeTab('ticket')">Jump to it »</a>
		</p>
	</div>
	<div class="col-md-4 column">
		<h2>
			Getting started
		</h2>
		<blockquote>
			<p>
				A good beginning makes a good ending
			</p> <small>Worldwide proverb</small>
		</blockquote>

		<p>
			No one is born knowing everything; perform the tutorial to get started
		</p>
		<p>
			<a class="btn" href="#">Jump to it »</a>
		</p>
	</div>
</div>
<!-- carousel -->
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-37679">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-37679" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-37679" >
					</li>
					<li data-slide-to="2" data-target="#carousel-37679">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="images/slide1.jpg">
						<div class="carousel-caption">
							<h4>
								Plug in the change! 
							</h4>
							<p>
								Prepare for a new concept of remote assistance.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="images/slide2.jpg">
						<div class="carousel-caption">
							<h4>
								Powerful Hardware 
							</h4>
							<p>
								The most reliable hardware systems at the cheapest price.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="images/slide3.png">
						<div class="carousel-caption">
							<h4>
								Optimized coding
							</h4>
							<p>
								The most stable and efficient control systems.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-37679" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-37679" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<p>zxcvzxvzxvzxbzbzxcbnfgnhgjgjxfgmjxf</p>
	<p>zxcvzxvzxvzxbzbzxcbnfgnhgjgjxfgmjxf</p>
	<p>zxcvzxvzxvzxbzbzxcbnfgnhgjgjxfgmjxf</p>
</div>
