<html>
  <head>
    <title>Wearable App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="wearableApp" ng-controller="MainCtrl">
    <div class="container-fluid">
      <!-- navigation bar -->
      <div class="row" ng-controller="navigationCtrl">
        <div class="col-xs-4" ng-click="backBtn($event)">
          Arrow navigation
        </div>
        <div class="col-xs-8">
          Navigation bar
        </div>
      </div>

      <!-- application menu view -->
      <div ng-include="'/applications'"></div>


      <!-- gesture menu view -->
      <div ng-include="'/gestures'"></div>


      <!-- actions menu view -->
      <div ng-include="'/actions'"></div>      

    </div>
  </body>
</html>