<html>
  <head>
    <title>Wearable App</title>
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href='/javascript/roboto' rel='stylesheet' type='text/css'>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="wearableApp" ng-controller="MainCtrl">
    <div class="container-fluid">
      <!-- navigation bar -->
      <div class="row header-mobile-nav" ng-controller="navigationCtrl">
        <div class="col-xs-2" ng-click="backBtn($event)">
          <div class="nav-arrow">
            <img src="/images/back_icn.png" />
          </div>
        </div>
        <div class="col-xs-8 nav-label">
          App list
        </div>
        <div class="col-xs-2">
          <div class="nav-search">
            <img src="/images/search_icn.png" />
          </div>
        </div>
      </div>

      <!-- application menu view -->
      <div ng-include="'/applications'"></div>

      <!-- saved gesture menu view -->
      <div ng-include="'/savedgestures'"></div>
      
      <!-- gesture menu view -->
      <div ng-include="'/gestures'"></div>

      <!-- actions menu view -->
      <div ng-include="'/actions'"></div>      

    </div>
  </body>
</html>