<h2>Ticket List for user {{device_id}}</h2>
<table border=4>
<thead>
<tr>
<td>Ticket Id</td>
<td>Timestamp</td>
<td></td>
<td></td>
</thead>
<tr ng-repeat="ticket in ticket_list track by $index">
<td>{{ticket._id}}</td>
<td>{{ticket.timestamp}}</td>
<td><a href="#/user_gcm/{{ticket.device_id}}">Open Console</a></td>
<td><a ng-click="delete(device_id,ticket._id)">Delete Ticket</a></td>
</td></tr></table>