<h2>Console for user {{device_id}}</h2>
<div style="background-color: #FFFFFF;">
	<li ng-repeat=" command in commands track by $index">
		{{command}}</li>
		<button type="button" ng-click="scanAP()" class="btn btn-default">ScanAP</button>
		<button type="button" class="btn btn-default">Dummy</button>
		<button type="button" class="btn btn-default">Dummy</button>
	</div>